@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
body{
    background-image: url("/images/bg-desktop.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color:  hsl(257, 40%, 49%);
    color: #fff;
    font-weight: 400;
}
h1{
    font-family: 'Poppins',sans-serif;
    font-weight: 700;
}